<h2>Listado de Personajes</h2>


<% @characters.each do |character| %>
  <div class="bg-dark m-3 ">
    <h4>Nombre:<%= character.name %></h4>
    <p><strong>Ubicacion:</strong> <%= character.location %></p>
    <p>Casa: <%= character.house %></p>
  </div>
  <hr>
<% end %>


<h3><%= pages_index_path %></h3>
<p>fuente: https://github.com/postre554/hogwarts</p>